*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;

}
header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 100px;
    color: white;
    background-image: url(logo.jpg) ; 
    background-size: 400px;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
}
ul li{
    display: inline;
    padding: 10px ;
    cursor: pointer;
}
.home{
    background-image: url(h.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom:  200px;
    background-size: cover;
}
h1{
    font-size:500%;
    color: yellow;
    padding-left: 10px;
}
.h{
    font-size: 120%;
    align-items: center;
    padding-left: 20px;
    color: white;
    padding-right: 30cm;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
}
p{
    color: white;
}
img{
    width: 30%;
    border-radius: 40px;
    margin-left: 14cm;
    padding-top: 20px;
    padding-bottom: 20px;
}
h2{
    font-size: 300%;
    color: yellow;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size: 20px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form{
    color: white;
    padding-top: 20px;

}
.contact{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 2;
    font-weight: bold;
    font-size: larger;
}
input{
    size: 20px;
}
button{
    width: 120px;
    height: 25px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 200;
    background-color: yellow;
}
footer p{
    color: red;
}
button:hover{
    background-color: white;
    cursor: pointer;
}
button:active{
    color: red;
}
a{
    color: yellow;
}
a:hover{
    color: red;
}
input:hover{
    cursor: pointer;
}

